# API & Public Storage URLs
VITE_API_URL="http://localhost:8000/api"

# For Local Development:
VITE_STORAGE_URL="http://localhost:8000/storage"

# For Production / AWS S3 / Cloudflare R2 / CDN:
# VITE_STORAGE_URL="https://cbsua-admission-bucket.s3.ap-southeast-1.amazonaws.com"

